<!DOCTYPE html>
<html>
  <head>
    <title>Gpt3Writer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-fixed">
      <ul id="settings-dropdown" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <nav class="teal">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            &nbsp;
            Asimov
          </a>
          <ul class="right hide-on-med-and-down">
          <!--
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
          -->
            <li>
              <a class="dropdown-trigger" href="#!" data-target="settings-dropdown">
                Settings
                <i class="material-icons right">arrow_drop_down</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
