<!DOCTYPE html>
<html>
  <head>
    <title>autoscribe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="teal">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">
            &nbsp;
            <strong>auto</strong>scribe
          </a>
          <ul class="right hide-on-med-and-down">
            <!--
            <li>
              <%= link_to '#', class: 'tooltipped', data: { tooltip: 'Configure your autowriter' } do %>
                <i class="material-icons">person</i>
              <% end %>
            </li>
            -->
            <li>
              <%= link_to '#', class: 'tooltipped', data: { tooltip: 'Settings' } do %>
                <i class="material-icons">settings</i>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>


