<!DOCTYPE html>
<!-- 
  this is technically an "editor" layout that we should probably split out later, but 
  since it's the only page on the site right now it feels fine as "application"
-->
<html>
  <head>
    <title>Gpt3Writer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-fixed">
      <ul id="settings-dropdown" class="dropdown-content">

        <li>
          <p class="range-field">
            <label for="test5">Chaos</label>
            <input type="range" id="test5" min="0" max="100" step="25" />
          </p>
        </li>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <nav class="teal">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">
            &nbsp;
            Asimov
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up"><i class="material-icons">leaderboard</i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <style type="text/css">
      /*
      NOTE: After adding sidenav-fixed, it'll be necessary to pad the content to make 
      sure it's properly pushed over when open.

      header, main, footer, .container {
        padding-right: 300px;
      }

      @media only screen and (max-width : 992px) {
        header, main, footer {
          padding-right: 0;
        }
      }
      */
    </style>
    <ul id="slide-out" class="sidenav document-analytics-sidenav sidenav-fixed-todo">
    <!-- we want to add sidenav-fixed and manually toggle open/close so it just pushes content over -->
      <li>
        <a href="#!/read-only-link" class="truncate">
          <i class="material-icons left">leaderboard</i>
          Document name that will probably wrap
        </a>
      </li>
      <li><div class="divider"></div></li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">
              Length
              <i class="material-icons">account_tree</i><!-- or code | settings_ethernet | search | layers | science -->
            </a>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12">
                  <ul>
                    <li>
                      <%= react_component("NumericMetricResult", { value: 4922, text: "words", code_ref: "word_count" }) %>
                    </li>
                    <li>
                      <%= react_component("NumericMetricResult", { value: 13, text: "pages", code_ref: "page_count" }) %>
                    </li>
                    <li>
                      <%= react_component("NumericMetricResult", { value: 319, text: "paragraphs", code_ref: "paragraph_count" }) %>
                    </li>
                    <li>
                      <%= react_component("NumericMetricResult", { value: 3292, text: "sentences", code_ref: "sentence_count" }) %>
                    </li>
                    <li>
                      <%= react_component("NumericMetricResult", { value: 32129, text: "letters", code_ref: "letter_count" }) %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">
              Readability
              <i class="material-icons">account_tree</i><!-- or code | settings_ethernet | search | layers | science -->
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <ul class="collapsible collapsible-accordion">
                    <li>
                      <a class="collapsible-header">
                        Time to Read
                        <i class="material-icons">account_tree</i><!-- or code | settings_ethernet | search | layers | science -->
                      </a>
                      <div class="collapsible-body">
                        <ul>
                          <li>4,922 words</li>
                          <li>3 pages</li>
                          <li>319 paragraphs</li>
                          <li>3,292 sentences</li>
                          <li>32,129 letters</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>93% Ease of Reading<br />explanation</li>
                <li>Word Variety</li>
                <li>Word Complexity</li>
                <li>N-syllable words chart</li>
                <li>
                  <ul class="collapsible collapsible-accordion">
                    <li>
                      <a class="collapsible-header">
                        Parts of Speech
                        <i class="material-icons">account_tree</i><!-- or code | settings_ethernet | search | layers | science -->
                      </a>
                      <div class="collapsible-body">
                        <ul>
                          <li>4,922 words</li>
                          <li>3 pages</li>
                          <li>319 paragraphs</li>
                          <li>3,292 sentences</li>
                          <li>32,129 letters</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>Lexical richness (% unique words baseline comparison)</li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">
              Entities
              <i class="material-icons">group</i><!-- or code | settings_ethernet | search | layers | science -->
            </a>
            <div class="collapsible-body">
              <ul>
                <li>93% Ease of Reading<br />explanation</li>
                <li>Word Variety</li>
                <li>Word Complexity</li>
                <li>N-syllable words chart</li>
                <li>Lexical richness (% unique words baseline comparison)</li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">
              Sentiment
              <i class="material-icons">account_tree</i><!-- or code | settings_ethernet | search | layers | science -->
            </a>
            <div class="collapsible-body">
              <ul>
                <li class="blue white-text">93% Overall Sad</li>
                <li>Evoked emotions</li>
                <li>Character emotions</li>
                <li>Emotional words</li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">
              Style
              <i class="material-icons">account_tree</i><!-- or code | settings_ethernet | search | layers | science -->
            </a>
            <div class="collapsible-body">
              <ul>
                <li>Words per sentence<br />plus graph</li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>


