<!DOCTYPE html>
<!-- 
  this is technically an "editor" layout that we should probably split out later, but 
  since it's the only page on the site right now it feels fine as "application"
-->
<html>
  <head>
    <title>Asimov</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= react_component("Asimov", { }) %>
    <%# yield %>
  </body>
</html>


