<!DOCTYPE html>
<html>
  <head>
    <title>Autoscribe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="teal">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">
            &nbsp;
            <strong>auto</strong>scribe
          </a>
          <ul class="right hide-on-med-and-down">
            <!--
            <li>
              <%= link_to '#', class: 'tooltipped', data: { tooltip: 'Your account' } do %>
                <i class="material-icons">person</i>
              <% end %>
            </li>
            -->
            <!--
            <li>
              <%= link_to '#', class: 'tooltipped', data: { tooltip: 'Settings' } do %>
                <i class="material-icons">settings</i>
              <% end %>
            </li>
            -->
            <!--
            <li>
              <a class="waves-effect waves-light btn orange modal-trigger" href="#settings-modal">
                <i class="material-icons left">settings</i>
                Settings
              </a>
            </li>
            -->
          </ul>
        </div>
      </nav>
    </div>

    <div id="onboarding-modal" class="modal">
      <div class="modal-content">
        <h4>Welcome to Autoscribe!</h4>
        <hr />
        <h5><strong>What is Autoscribe?</strong></h5>
        <p class="justify">
          Autoscribe is a simple text editor built to harness the power of cutting-edge technologies in
          machine learning, natural language processing, and artificial intelligence to improve the writing process.
        </p>
        <p class="justify">
          In other words, <span class="teal-text">no more writer's block!</span>
        </p>
        <h5>
          <strong>How do I use it?</strong>
        </h5>
        <a class="btn-floating btn-large right orange pulse" style="margin: 1em 2em">
          <i class="large material-icons tooltipped" data-tooltip="Solve writer's block" data-position="left">
            mode_edit
          </i>
        </a>
        <p class="justify">
          Whenever you get stuck &mdash; or just don't know what to write next &mdash;
          click the orange pencil button in the bottom-right of the screen to let
          your digital writing assistant propose a few next paragraphs for you. Select
          whatever suggestion you like, then keep writing.
        </p>
        <p class="teal-text">
          It's that simple!
        </p>
        <!--
        <h5>
          <strong>Some setup required</strong>
        </h5>
        <p class="justify">
          Before you can use an AI assistant to help with your writing, you'll need to select
          which of the following assistants you want to use. They each have different strengths,
          weaknesses, and costs.
        </p>
        -->
      </div>
      <div class="modal-footer">
        <a href="#settings-modal" class="modal-close waves-effect waves-green btn-flat modal-trigger">
          Next: Choose my AI assistant
        </a>
      </div>
    </div>

    <div id="settings-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 class="center">Autoscribe Settings</h4>
        
        <h5>Model selection</h5>
        <div class="row">
          <div class="input-field col s12 m12 l6">
            <select id='autoscribe-architecture'>
              <option value="" disabled selected>Choose your architecture</option>
              <option value="GPT-2">GPT-2</option>
              <option value="GPT-3" selected>GPT-3</option>
              <option value="GPT-J">GPT-J</option>
            </select>
            <label>Architecture</label>
          </div>
          <div class="input-field col s12 m12 l6">
            <select id='autoscribe-model'>
              <option value="" disabled selected>Choose your model</option>
              <option value="davinci">Davinci</option>
              <option value="curie">Curie</option>
              <option value="babbage">Babbage</option>
              <option value="ada" selected>Ada</option>
              <!--
              <option value="1">General Fiction Writing</option>
              <option value="1">Fantasy Writing</option>
              <option value="1">Sci-Fi Writing</option>
              <option value="2">Edgar Allan Poe</option>
              <option value="3">H. P. Lovecraft</option>
              <option value="3">J. R. R. Tolkien</option>
              -->
            </select>
            <label>Specialization (GPT-3)</label>
          </div>
          <div class="input-field col s12 m12 l6">
            <select id='autoscribe-provider'>
              <option value="" disabled selected>Choose your provider</option>
              <option value="OpenAI" selected>OpenAI</option>
              <option value="Huggingface">Huggingface</option>
              <option value="Indent Labs">Indent Labs</option>
            </select>
            <label>Provider (GPT-3)</label>
            <div class="helper-text">
              Estimated cost: $0.00 per 1,000 generated words
            </div>
          </div>
          <div class="input-field col s12 m12 l6">
            <input type="text" placeholder="Paste API Key" id="autoscribe-api-key">
            <label>API Key (OpenAI)</label>
            <div class="helper-text">
              Click <%= link_to 'here', '#' %> to get your API key for Indent Labs.
            </div>
          </div>
        </div>

        <h5>Suggestion generation</h5>
        <div class="row">
          <div class="col s12 m12 l3">
            <input type="number" value="1000" id='autoscribe-context-window'>
            <label>
              Context window (words)
              <i class="material-icons right">help</i>
            </label>
          </div>
          <div class="col s12 m12 l3">
            <input type="number" value="3" id='autoscribe-suggestion-n'>
            <label>
              Number of suggestions
              <i class="material-icons right">help</i>
            </label>
          </div>
          <div class="col s12 m12 l3">
            <input type="number" value="3" id='autoscribe-suggestion-length'>
            <label>
              Suggestion length (tokens)
              <i class="material-icons right">help</i>
            </label>
          </div>
          <div class="col s12 m12 l3">
            <input type="number" value="1" id='autoscribe-suggestion-best-of'>
            <label>
              Best of
              <i class="material-icons right">help</i>
            </label>
          </div>
          <div class="col s12 m12 l12 center" style='margin-top: 1.5em'>
            <i class="material-icons small teal-text icon-bump-down" style="font-size: 1.4em">bar_chart</i>
            Approximately
            <strong>600</strong>
            tokens will be used each time you generate
            <strong>3</strong> suggestions.
            <div class="grey-text">
              <small>About <strong>$0.004</strong> per autocomplete</small>
            </div>
          </div>
        </div>

        <h5>Text generation preferences</h5>
        <div class="row">
          <div class="col s12 m12 l6">
            <input type="number" value="0.7" id='autoscribe-temperature'>
            <label>
              Temperature
              <i class="material-icons right">help</i>
            </label>
          </div>
          <div class="col s12 m12 l6">
            <input type="number" value="0.95" id='autoscribe-top-p'>
            <label>
              Top P
              <i class="material-icons right">help</i>
            </label>
          </div>
          <div class="col s12 m12 l6">
            <input type="number" value="0" id='autoscribe-frequency-penalty'>
            <label>
              Frequency Penalty
              <i class="material-icons right">help</i>
            </label>
          </div>
          <div class="col s12 m12 l6">
            <input type="number" value="0" id='autoscribe-presence-penalty'>
            <label>
              Presence Penalty
              <i class="material-icons right">help</i>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-close teal white-text waves-effect waves-green btn-flat">
          Save Changes
        </a>
      </div>
    </div>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large orange pulse" id="continue-writing">
        <i class="large material-icons tooltipped" data-tooltip="Solve writer's block" data-position="left">
          mode_edit
        </i>
      </a>
      <ul>
        <li>
          <a class="btn-floating orange darken-5 modal-trigger" href="#settings-modal">
            <i class="material-icons tooltipped" data-tooltip="Autoscribe history" data-position="left">history</i>
          </a>
        </li>
        <li>
          <a class="btn-floating orange darken-5 modal-trigger" href="#settings-modal">
            <i class="material-icons tooltipped" data-tooltip="Autoscribe settings" data-position="left">settings</i>
          </a>
        </li>
      </ul>
    </div>

    <%= yield %>
  </body>
</html>


